<h1>Games#score</h1>
<%# <p>Find me in app/views/games/score.html.erb</p> %>
<p><%= @words %></p>
<p><%= @words['word'].chars %></p>
<p><%= @words['word'] %></p>
<p><%= @letters.split(' ') %></p>
<p><%= @letters %></p>
<p><%= @answer %></p>
